@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

body{
    margin: 0;
    padding: 0;
}

.container{
    background-color: #15141A;
    display: flex;
    height: 500px;
    padding-left: 130px;
    flex-wrap: nowrap;
    flex-direction: column;
    padding-top: 100px;
    position: relative;
    overflow: hidden;
}

.topo{
    display: flex;
    height: 60px;
    align-items: center;
    padding: 0px 40px;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: nowrap;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.fonte{
    font-size: 18px;
    font-weight: 500;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.fonte:hover{
    text-decoration: underline;
}

.boas-vindas {
    color: #ffffff;
    font-size: 115px;
    font-weight: 600;
    margin: 0; 
    margin-bottom: 24px; 
}

.texto_desde {
    color: #ffffff;
    font-family: 'Inter', Arial, sans-serif; 
    font-size: 22px;
    font-weight: 400;
    margin: 0; 
    max-width: 800px; 
    line-height: 1.5;
}

.texto_saiba{
    color: #ffffff;
    margin-top: 50px;
    font-size: 35px;
    font-weight: 500;
    text-decoration: underline;
}

.area_direita {
    position: absolute;
    top: 70px;
    right: clamp(40px, 12vw, 280px);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.botao_animacao {
    color: white;
    border: 1px solid #555;
    width: fit-content;
    padding: 4px 8px;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 14px;
    cursor: pointer;

    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 8px;
}

.play {
    font-size: 20px;
}

.botao_animacao:hover {
    background-color: white;
    color: #121212;
}

.logo_verde {
    width: clamp(120px, 16vw, 220px);
    height: auto;
}

.recorte {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.nivel {
    position: absolute;
    bottom: 0;
    background-color: black;
}

.nivel1 {
    left: 0;
    width: 25%;
    height: 70px;
}

.nivel2 {
    left: 25%;
    width: 35%;
    height: 45px;
}

.nivel3 {
    left: 60%;
    width: 20%;
    height: 85px;
}

.nivel4 {
    right: 0;
    width: 20%;
    height: 120px;
}

.mozzila{
    font-size: 24px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
}

.texto_volte{
    font-size: clamp(30px, 8vw, 70px);
    font-weight: 700;
    color: black;
    background: white;
    margin: 0;
    padding: 0px 50px;
}



@media (max-width: 900px) {

    /* TOPO */
    .topo {
        justify-content: space-between;
        padding: 0 20px;
        height: 60px;
    }

    /* some com o Mozilla original */
    .mozzila {
        display: none;
    }

    /* cria um único Mozilla */
    .topo::before {
        content: "Mozilla";
        font-size: 24px;
        font-weight: 800;
        font-family: Arial, Helvetica, sans-serif;
    }

    /* esconde menu */
    .fonte {
        font-weight: 500;
        display: none;
    }

    /* botão menu */
    .topo::after {
        content: "Menu";
        font-size: 16px;
        font-weight: 500;
        text-decoration: underline;
        color: black;
    }

    /* CONTAINER */
    .container {
        height: 520px;
        padding-left: 24px;
        padding-top: 80px;
    }

    /* TEXTO */
    .boas-vindas {
        font-weight: 600;
        font-size: 46px;
        line-height: 1;
        margin-bottom: 18px;
    }

    .texto_desde {
        font-size: 20px;
        max-width: 280px;
        line-height: 1.15;
    }

    .texto_saiba {
        font-size: 20px;
        margin-top: 30px;
        font-weight: 500;
    }

    /* DIREITA */
    .area_direita {
        top: 25px;
        right: 18px;
        gap: 60px;
        align-items: flex-end;
    }

    .botao_animacao {
        font-size: 12px;
        padding: 6px 8px;
    }

    /* some com a bandeira */
    .logo_verde {
        display: none;
    }
}



@font-face {
    font-family: 'Mozilla Headline';
    src: url('https://www.mozilla.org/media/fonts/MozillaHeadline-Regular.woff2') format('woff2');
}